<%= render "partials/navbar" %>
<div class="container">
  <div class="cards">
    <% @butlers.each do |b| %>
      <%= link_to butler_path(b) do %>
        <div class="card">
          <% if b.photo.attached?%>
            <%=cl_image_tag b.photo.key%>
          <% else %>
            <%= image_tag(b.url)  %>
          <% end %>
             <div class="card-content">
              <div class="description">
                <div class="text">
                  <h2><%= b.first_name%> <%= b.last_name%></h2>
                  <p>created: <%= b.created_at.strftime('%d-%m-%Y')%></p>
                  <p><%= b.gender%></p>
                </div>
                <div class="price">
                  <p>€ <%= b.price%> per day</p>
                </div>
              </div>
              <h2 class="card-rating">*****</h2>
            </div>
          </div>
      <% end %>
    <% end%>
  </div>
</div>
