<div class="contenaire">
  <div class="form-page-butler-new">
    <div class="parent">
      <div class="div1">
        <%= simple_form_for(@butler) do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :address %>
          <%= f.input :category %>
        </div>
        <div class="div2">
        <%= f.label :gender %>
          <%= f.select(:gender, ['male', 'female'], {}, {:class => 'form-control'}) %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
        <% end %>
        </div>
      </div>
  </div>
  
</div>
