<div class="parent">
<div class="div1"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
<div class="div2"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
<div class="div3"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
<div class="div4"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
<div class="div5"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
</div>

<%# #EFFACER LE "BR" AVANT %>
<br>Name: <%= @butler.first_name%> <%= @butler.last_name%>
<%# <br>Rating: <%=@butler.rating%>
<br>category: <%=@butler.category%>
<br>Gender: <%= @butler.gender%>
<br>Description: <%=@butler.description%>
<br>State: <%=@butler.address%>
<br>€ <%=@butler.price%>
<br>
<%= link_to "BOOK ME", new_butler_booking_path(@butler), class: "btn btn-primary" %>
