<%= render "partials/navbar" %>
<div class="show-page">
  <div class="box-show">
    <div class="parent">
      <div class="divtopright"> <%= cl_image_tag(@butler.photo.key, :alt => "I love you fabrice") %> </div>
        <div class="divtopleft">
            <h2><%= @butler.first_name%> <%= @butler.last_name%> </h2>
          <ul>
            <li><%=@butler.category.capitalize%> <i class="fa-solid fa-kitchen-set"></i></li>
            <li><%=@butler.gender.capitalize%> <i class="fa-solid fa-venus-mars"></i></li>
            <li><%=@butler.address.capitalize%> <i class="fa-solid fa-location-dot"></i></li>
            <li><%=@butler.price%> <i class="fa-solid fa-euro-sign"></i></li>
          </ul>
            <div class="button"><%= link_to "BOOK ME", new_butler_booking_path(@butler), class: "nav-btn"%></div>
        </div>
    </div>
    <div class="bottom-section">
      <div class="divdescription">
        <p> <i class="fa-solid fa-quote-left"> </i> <%= @butler.description %> <i class="fa-solid fa-quote-right"> </i></p>
        </div>
        <div class="divreview">
    <% if user_signed_in? %>
        <%# <%= link_to "ADD REVIEW", new_butler_reviewtable_path(@butler) %>
              <%= render "reviewtables/formreviews", butler: @butler, review: @review %>
        <% else %>
      <%= link_to "Login to add review", new_user_session_path(@user) %>
        <% end %>
        <ul>
        <% @butler.reviewtables.each do |e| %>
        <li><%= e.content %> - <%= e.rating %> by <%= e.user.first_name %></li>
        <% end %>
        </ul>
        </div>
    </div>
  </div>
</div>
