<%= render "partials/navbar" %>
<div class="show-page">
  <div class="box-show">
    <div class="parent-top">
      <div class="divtop1"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
      <div class="divtop2"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
      <div class="divtop3"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
      <div class="divtop4"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
      <div class="divtop5"> <%= image_tag(@butler.url, :alt => "I love you fabrice") %> </div>
    </div>


    <%= link_to "BOOK ME", new_butler_booking_path(@butler), class: "btn btn-primary" %>
    <div class="parent-bottom">
      <div class="divbottom1">
          <h2><%= @butler.first_name%> <%= @butler.last_name%> </h2>
        <ul>
          <li><i class="fa-solid fa-kitchen-set"></i><%=@butler.category%></li>
          <li><i class="fa-solid fa-venus-mars"></i><%=@butler.gender%></li>
          <li><i class="fa-solid fa-location-dot"></i><%=@butler.address%></li>
        </ul>
      </div>
      <div class="divbottom2">
        € <%=@butler.price%>
      </div>
      <div class="divbottom3">
        <%# <%=@butler.rating%>
        <%= image_tag(@butler.url, :alt => "I love you fabrice") %>
      </div>
    </div>
  </div>
</div>
